<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Favorites</title>
    <link href='./../assets/stylesheets/project.css' rel='stylesheet'  type="text/css"/>
      <link href="./../assets/stylesheets/w3.css" rel='stylesheet'  type="text/css"/>
      <link href="./../assets/stylesheets/bootstrap.min.css" rel='stylesheet'  type="text/css"/>
      <link href='./../assets/stylesheets/capstone.css' rel='stylesheet'  type="text/css"/>
      <script src="./../assets/scripts/jquery.min.js"></script>
      <script src="./../assets/scripts/script.js"></script>
</head>

<body>
  <%- include ('./navbar'); -%>
  <!-- This if statement determines whether the only favorites object is eventually
        If it is, it displays a message and image saying "No Favorites"-->
  <%if(session.favorites[0]._name==null){%>
    <h3>No Favorites</h3><br>
    <div class='imgWrapper'>
      <img src="./../assets/images/noFavs.png" class = 'bigPic'>
    </div>
    <% } else{ %>
  <h3>Favorites</h3>
  <!-- This for loop will loop until it each favorite has been displayed-->
      <%for(let i = 0; i < session.favorites.length; i++) {
        <!-- This if statement starts a new row once there are 3 in the last row-->
        if(i%3==0){%>
          <div class="row">

          <% } %>
          <div class="column">
          <a href="/menu?restaurant=<%=session.favorites[i]._name%>"> <img src="<%= session.favorites[i]._image %>"></a>
        <div class="producttitle"><%= session.favorites[i]._name %></div>
        <div class="productprice">
          <div class="pull-right">
            <!-- This button will take the user to the menu-->
            <form method = 'post' action="/menuButton">
              <input type='submit' value='Menu' class="btn btn-danger btn-sm">
              <input type='hidden' name ='name' value="<%=session.favorites[i]._name%>">
            </form>
            <!-- This button will take the user to the reviews-->
            <form method = 'post' action="/reviewsButton">
              <input type='submit' value='Reviews' class="btn btn-danger btn-sm">
              <input type='hidden' name ='name' value='<%=session.favorites[i]._name%>'>
            </form>
            <!-- This button will take the user to the add review form-->
            <form method = 'post' action="/reviewButton">
              <input type='submit' value='Add Review' class="btn btn-danger btn-sm">
              <input type='hidden' name ='name' value='<%=session.favorites[i]._name%>'>
            </form>
              <!-- This button will remove the favorite when clicked-->
            <form method = 'post' action="/delete">
              <input type='submit' value='Remove Favorite' class="btn btn-danger btn-sm ">
              <input type='hidden' name ='name' value='<%=session.favorites[i]._name%>'>
            </form>
          </div>  </div>  </div>

  <!-- This if statement adds a closing tag to rows-->
        <%if((i+1)%3==0||i==session.favorites.length-1){ %>
          </div>
        <% }}} %>
        <%- include ('./footer'); -%>
    </div>
</body>
</html>
